@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/font/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@theme {
  /* azul */
  --color-azul-700: #002e69;
  --color-azul-600: #003c88;
  --color-azul-500: #004aa9;
  --color-azul-400: #0067ea;
  --color-azul-300: #1077fb;
  --color-azul-200: #028ddf; /**/

  /* cinza */
  --color-cinza-600: #313131;
  --color-cinza-500: #696969;
  --color-cinza-400: #9c9b9b;
  --color-cinza-300: #c1c1c1; /**/
  --color-cinza-200: #b4b4b4;
  --color-cinza-100: #e9e9e9;
  --color-cinza-50: #f7f4f4ff;

  /* vermelho */
  --color-vermelho-500: #8d0101;
  --color-vermelho-400: #b31616;
  --color-vermelho-300: #ec1313; /**/
  --color-vermelho-200: #ee5757;
  --color-vermelho-100: #ff8585;
}
